/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {
	float: left;
	width: 250px;
	height: 300px;
}

.main-content {
	width: 430px;
	float: left;
	height: 300px;
}

.sub-content {
	float: left;
	width: 304px;
	height: 300px;
}


.footer {
	clear: left;
}
