/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.logo {
	float: left;
}

.navigation {
	float: right
}

.main-content {}
/* hint! */

.post:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
/* hint! */

.image {
	float: left;
	height: 150px;
	width: 150px;
}

.post_excerpt {
	float: right;
	width: 1000px;
}
